<h1>HEROES</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe', 'nuevo']"
            class="btn btn-outline-primary"
            type="button" name="button">Nuevo Héroe</button>

  </div>
</div>

<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table table-responsive">
      <table>
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>